@page "/"

<PageTitle>Home</PageTitle>

<div class="jumbotron">
    <h1 class="display-2">Welcome to Code Crafts Workshop!</h1>
    <p class="lead">Breaking Down the Monolith: A Sync Strategy</p>
    <hr class="my-4">
    <p class="alert alert-primary" role="alert">
        In this workshop, we will first analyze different approaches to performing a migration. Then, we will implement a strategy to react to data changes and notify other applications.
    </p>
    <p class="lead alert alert-success" role="alert">
        At the end of the workshop, attendees will have enough confidence to describe and plan a data migration and synchronization strategy for your company's needs.
    </p>
</div>
